<label>
  Beer Name:
  <input aria-label="Beer Name input" type="text" [(ngModel)]="name" />
</label>
<div>
  <a [class.disabled]="(page$ <= 1)" [routerLink]="['/beers/paginated', +page$ - 1]">Previous</a>
  {{ page$ }}
  <a [routerLink]="['/beers/paginated', +page$ + 1]">Next</a>
</div>
<div>
  <button [disabled]="page$ <= 1" (click)="goTo(+page$ - 1)">Previous</button>
  {{ page$ }}
  <button (click)="goTo(+page$ + 1)">Next</button>
</div>
<section class="BeersList">
  <a class="beer" *ngFor="let beer of beers$ | async | filterByName: name" [routerLink]="'/beers/' + beer.id">
    <h4>
      {{ beer.name }}
    </h4>
    <p>
      {{ beer.tagline }}
    </p>
    <img src="{{ beer.image_url }}" alt="beer image" />
  </a>
</section>
